.Cell {
  text-align: center;
  color: white;
}

.hex {
  color: #6C6;
  font-size: 135px;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.cell-content {
    margin-top: -109px;
}

.placeholder {
  color: #222;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}