.Cell {
  text-align: center;
  color: white;  
}

.hex {
  color: #6C6;
  font-size: 135px;
  margin-bottom: -109px;
}

.placeholder {
  color: #222;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}