.Container {
  border: solid 1px;
  margin: 5px;
  padding: 2px;
  border-radius: 3px;
}

.Container.sender {
  border: red solid 1px;
  background-color: lightgreen;
}

.Container.receiver {
  border: black solid 1px;
  background-color: lightcoral;  
}